<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (typeof(token) !== 'undefined' && token) { %>
    <a href="/private?token=<%=token%>">Check out my secret!</a>
    <% } else { %>
      <a href="/users">Log in</a>
    <% } %>

  </body>
</html>
