<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <div>Here's your info:</div>
  <div>
    <%= JSON.stringify(token) %>
  </div>
</body>

</html>
